<!DOCTYPE root[<!ELEMENT Link ANY>
<!ATTLIST Link id ID #REQUIRED>
<!ELEMENT Social ANY>
<!ATTLIST Social id ID #REQUIRED>
<!ELEMENT Folder ANY>
<!ATTLIST Folder id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
 
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT MastPagePart ANY>
<!ATTLIST MastPagePart id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1063" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-04-27T10:11:29" updateDate="2015-04-27T15:25:55" nodeName="Home" urlName="home" path="-1,1063" isDoc="" nodeType="1062" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="Home">
    <hideFromAllNavs>0</hideFromAllNavs>
    <hideInXmlSitemap>0</hideInXmlSitemap>
    <logo><![CDATA[/media/1006/logo.jpg]]></logo>
    <imageOfTheRightFooter><![CDATA[/media/1007/icon-pride-of-britain.png]]></imageOfTheRightFooter>
    <imageOfTheCenterFooter><![CDATA[/media/1008/icon-by-appointment.png]]></imageOfTheCenterFooter>
    <imageOfTheLeftFooter><![CDATA[/media/1009/icon-relais-chateaux.png]]></imageOfTheLeftFooter>
    <copyright><![CDATA[© The Goring 2015]]></copyright>
    <bundleconfig><![CDATA[BundleTable.Bundles.Add(new ScriptBundle("~/bundles/scripts").IncludeDirectory("~/scripts/", "*-active.js"));
BundleTable.Bundles.Add(new StyleBundle("~/bundles/css").IncludeDirectory("~/css/", "*-active.css"));
BundleTable.Bundles.Add(new ScriptBundle("~/bundles/jqueryval").Include("~/scripts/jquery.unobtrusive*","~/scripts/jquery.validate*"));]]></bundleconfig>
  </Home>
  <Folder id="1068" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-04-27T10:40:59" updateDate="2015-04-27T13:47:32" nodeName="Social" urlName="social" path="-1,1068" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="Folder">
    <hideFromAllNavs>0</hideFromAllNavs>
    <hideInXmlSitemap>0</hideInXmlSitemap>
    <Social id="1071" parentID="1068" level="2" creatorID="0" sortOrder="0" createDate="2015-04-27T10:49:22" updateDate="2015-04-27T13:47:45" nodeName="Facebook" urlName="facebook" path="-1,1068,1071" isDoc="" nodeType="1070" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="Social">
      <hideFromAllNavs>0</hideFromAllNavs>
      <hideInXmlSitemap>0</hideInXmlSitemap>
      <icon><![CDATA[/media/1001/icon-facebook.png]]></icon>
      <link><![CDATA[#]]></link>
    </Social>
    <Social id="1072" parentID="1068" level="2" creatorID="0" sortOrder="1" createDate="2015-04-27T10:50:00" updateDate="2015-04-27T13:53:38" nodeName="Google+" urlName="googleplus" path="-1,1068,1072" isDoc="" nodeType="1070" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="Social">
      <hideFromAllNavs>0</hideFromAllNavs>
      <hideInXmlSitemap>0</hideInXmlSitemap>
      <icon><![CDATA[/media/1002/icon-google.png]]></icon>
      <link><![CDATA[#]]></link>
    </Social>
    <Social id="1073" parentID="1068" level="2" creatorID="0" sortOrder="2" createDate="2015-04-27T10:50:44" updateDate="2015-04-27T13:53:44" nodeName="Twitter" urlName="twitter" path="-1,1068,1073" isDoc="" nodeType="1070" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="Social">
      <hideFromAllNavs>0</hideFromAllNavs>
      <hideInXmlSitemap>0</hideInXmlSitemap>
      <icon><![CDATA[/media/1003/icon-twitter.png]]></icon>
      <link><![CDATA[#]]></link>
    </Social>
    <Social id="1074" parentID="1068" level="2" creatorID="0" sortOrder="3" createDate="2015-04-27T10:52:15" updateDate="2015-04-27T13:53:57" nodeName="Linkedin" urlName="linkedin" path="-1,1068,1074" isDoc="" nodeType="1070" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="Social">
      <hideFromAllNavs>0</hideFromAllNavs>
      <hideInXmlSitemap>0</hideInXmlSitemap>
      <icon><![CDATA[/media/1004/icon-linkedin.png]]></icon>
      <link><![CDATA[#]]></link>
    </Social>
    <Social id="1075" parentID="1068" level="2" creatorID="0" sortOrder="4" createDate="2015-04-27T10:52:49" updateDate="2015-04-27T13:54:03" nodeName="Tripadvisor" urlName="tripadvisor" path="-1,1068,1075" isDoc="" nodeType="1070" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="Social">
      <hideFromAllNavs>0</hideFromAllNavs>
      <hideInXmlSitemap>0</hideInXmlSitemap>
      <icon><![CDATA[/media/1005/icon-tripadvisor.png]]></icon>
      <link><![CDATA[#]]></link>
    </Social>
  </Folder>
  <Folder id="1069" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2015-04-27T10:41:38" updateDate="2015-04-27T13:47:37" nodeName="LinkPage" urlName="linkpage" path="-1,1069" isDoc="" nodeType="1067" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="Folder">
    <hideFromAllNavs>0</hideFromAllNavs>
    <hideInXmlSitemap>0</hideInXmlSitemap>
    <Link id="1077" parentID="1069" level="2" creatorID="0" sortOrder="0" createDate="2015-04-27T10:58:56" updateDate="2015-04-27T13:54:08" nodeName="Hotel Brochure" urlName="hotel-brochure" path="-1,1069,1077" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="Link">
      <hideFromAllNavs>0</hideFromAllNavs>
      <hideInXmlSitemap>0</hideInXmlSitemap>
      <link><![CDATA[#]]></link>
      <target><![CDATA[_blank]]></target>
    </Link>
    <Link id="1079" parentID="1069" level="2" creatorID="0" sortOrder="1" createDate="2015-04-27T11:24:08" updateDate="2015-04-27T13:54:19" nodeName="Newsletter" urlName="newsletter" path="-1,1069,1079" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="Link">
      <hideFromAllNavs>0</hideFromAllNavs>
      <hideInXmlSitemap>0</hideInXmlSitemap>
      <link><![CDATA[#]]></link>
    </Link>
    <Link id="1080" parentID="1069" level="2" creatorID="0" sortOrder="2" createDate="2015-04-27T11:24:27" updateDate="2015-04-27T13:54:25" nodeName="Media Hub" urlName="media-hub" path="-1,1069,1080" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="Link">
      <hideFromAllNavs>0</hideFromAllNavs>
      <hideInXmlSitemap>0</hideInXmlSitemap>
      <link><![CDATA[#]]></link>
    </Link>
    <Link id="1081" parentID="1069" level="2" creatorID="0" sortOrder="3" createDate="2015-04-27T11:27:17" updateDate="2015-04-27T13:54:29" nodeName="Awards" urlName="awards" path="-1,1069,1081" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="Link">
      <hideFromAllNavs>0</hideFromAllNavs>
      <hideInXmlSitemap>0</hideInXmlSitemap>
      <link><![CDATA[#]]></link>
      <target><![CDATA[_self]]></target>
    </Link>
    <Link id="1082" parentID="1069" level="2" creatorID="0" sortOrder="4" createDate="2015-04-27T11:28:00" updateDate="2015-04-27T13:54:32" nodeName="Travel Professionals" urlName="travel-professionals" path="-1,1069,1082" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="Link">
      <hideFromAllNavs>0</hideFromAllNavs>
      <hideInXmlSitemap>0</hideInXmlSitemap>
      <link><![CDATA[#]]></link>
    </Link>
    <Link id="1083" parentID="1069" level="2" creatorID="0" sortOrder="5" createDate="2015-04-27T11:28:15" updateDate="2015-04-27T13:54:37" nodeName="Groups" urlName="groups" path="-1,1069,1083" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="Link">
      <hideFromAllNavs>0</hideFromAllNavs>
      <hideInXmlSitemap>0</hideInXmlSitemap>
      <link><![CDATA[#]]></link>
      <target><![CDATA[_parent]]></target>
    </Link>
    <Link id="1084" parentID="1069" level="2" creatorID="0" sortOrder="6" createDate="2015-04-27T11:28:31" updateDate="2015-04-27T13:54:47" nodeName="Careers" urlName="careers" path="-1,1069,1084" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="Link">
      <hideFromAllNavs>0</hideFromAllNavs>
      <hideInXmlSitemap>0</hideInXmlSitemap>
      <link><![CDATA[#]]></link>
    </Link>
    <Link id="1085" parentID="1069" level="2" creatorID="0" sortOrder="7" createDate="2015-04-27T11:28:45" updateDate="2015-04-27T13:54:52" nodeName="Villa Iduzkia" urlName="villa-iduzkia" path="-1,1069,1085" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="Link">
      <hideFromAllNavs>0</hideFromAllNavs>
      <hideInXmlSitemap>0</hideInXmlSitemap>
      <link><![CDATA[#]]></link>
    </Link>
  </Folder>
</root>