<!DOCTYPE root[<!ELEMENT Contact ANY>
<!ATTLIST Contact id ID #REQUIRED>
 
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT MastPagePart ANY>
<!ATTLIST MastPagePart id ID #REQUIRED>

]>
<root id="-1">
  <Master id="1058" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-03-03T22:01:54" updateDate="2015-04-23T23:40:30" nodeName="EN" urlName="en" path="-1,1058" isDoc="" nodeType="1050" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="Master">
    <Contact id="1064" parentID="1058" level="2" creatorID="0" sortOrder="0" createDate="2015-04-23T21:24:51" updateDate="2015-04-23T21:24:51" nodeName="Contact" urlName="contact" path="-1,1058,1064" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="Contact">
      <hideFromAllNavs>0</hideFromAllNavs>
      <hideInXmlSitemap>0</hideInXmlSitemap>
    </Contact>
    <pageTitle><![CDATA[Test Title]]></pageTitle>
    <metaDescription><![CDATA[Test Meta Description]]></metaDescription>
    <metaKeywords><![CDATA[Test,Meta,Keyword]]></metaKeywords>
    <hideFromAllNavs>0</hideFromAllNavs>
    <hideInXmlSitemap>0</hideInXmlSitemap>
  </Master>
</root>